/[Oo]bj/
ExportedObj/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.cache
/Source/.idea/
/Source/.vs/
/Source/packages/
/Source/obj/
_local/

deploy_to_local.bat
deploy.log
*.pdb
*.editorconfig
